apiVersion: v1
kind: Service
metadata:
  name: llm-external
  namespace: analysis
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
  selector:
    app: llm
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  loadBalancerSourceRanges:
    - $(LOADBALANCER_IP_WHITELIST)
  type: LoadBalancer
